<div class="container">
    @for (livro of todosLivros; track livro.id) {
        <div class="livro">
            <img [src]="livro.foto" [alt]="livro.autor">
            <div class="container-infos">
                <p class="titulo">{{ livro.titulo }}</p>
                <p class="autor">{{ livro.autor }}</p>
                <p class="descricao">{{ livro.descricao }}</p>
                <div class="container-btn">
                    <button class="btn" [routerLink]="['/livro/', livro.id]">Ver mais</button>
                    <button class="btn" [routerLink]="['/editar-livro/', livro.id]">Editar</button>
                    <button class="btn" (click)="removerLivro(livro)">Excluir</button>
                </div>
            </div>
        </div>
    }
</div>
