<div class="container">
    <div *ngFor="let livro of livros" class="livro">
        <img [src]="livro.foto" [alt]="livro.autor">
        <div class="container-infos">
            <p class="titulo">{{ livro.titulo }}</p>
            <p class="autor">{{ livro.autor }}</p>
            <p class="descricao">{{ livro.descricao }}</p>
            <div class="container-btn">
                <button class="btn" (click)="editarLivro(livro)">Editar</button>
                <button class="btn" (click)="removerLivro(livro)">Excluir</button>
                <button class="btn" [routerLink]="['/detalhe/', livro.id]">Ver mais</button>
            </div>
        </div>
    </div>
</div>